@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #191919;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

canvas {
  background-color: #111;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.score-value {
  font-weight: 700;
  font-size: 4.5rem;
  display: block;
  /* margin-top: -10; */
}

.menu-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.game-over {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
}

.final-score {
  font-weight: 500;
  font-size: 1.5rem;
}

.btn-play {
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  padding: 10px 15px 10px 12px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
